

body{
    margin-top: 60px;
    
    background-color: black;
}

.box{
    border: 2px solid rgb(40, 4, 4);
    width: 500px;
    height: 600px;
    align-content: center;
    text-align: center;
    margin: auto;
    background-color: cornsilk;
    box-shadow: 4px 8px 8px rgb(240, 212, 98);
    border-radius: 10px;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    
}


img{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    border-radius: 150px;
    background-color: white;
}

button{
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    background-color: cornflowerblue;
    margin: 10px;
    width: 100px;
    box-shadow: 2px 2px  gray;
    font-weight: bolder;
    font-size:medium;
}